#GetInTouch {
    background: -webkit-linear-gradient(left, #a13584, #5c2fb4);

    padding: 1rem 1rem 10rem 1rem;

    margin-top: -1px;

    position: relative;

    
}

.input-style {
    outline: none;

    padding: 1rem;

    border: 1px solid #000;
    border-radius: 0.5rem;

    font-weight: bolder;

    background-color: #8847a9;

    transition: background-color 0.5s ease;
}


.input-style:focus {
    background-color: #fff;
    color: #000 !important;
    border: 2px solid #000;
}

.input-style:focus::placeholder {
    color: #000 !important;
}

.input-style::placeholder {
    color: white;
    letter-spacing: 0.05rem;
}


#btn-send {
    box-shadow: -4px 5px #999;
    background-color: #8847a9;
    border: 1px solid #8847a9;
    font-weight: bold;
    letter-spacing: 0.05rem;

    margin-bottom:3rem ;
}

#btn-send:hover {
    background-color: #6130b1
}

#btn-send:active {
    background-color: #6130b1;
    box-shadow: -2px 2px rgb(103, 103, 104);
    transform: translate(-1px, 1px);
}

@media only screen and (max-width : 320px) {
    .input-style {
        font-size: small;
    }
}
