.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-title {
    margin-top: 8px;
    /* font-size: 1.5rem; */
    color: #333;
    font-weight: bold;
}

.circular-progress {
    max-width: 100%;
    height: auto;
    display: block;
}

.progress-circle {
    transition: stroke-dashoffset 0.5s ease-in-out;
}
